* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #284b63;
}

h1,
h2,
h3,
p {
  color: white;
}

h1 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

a h3:hover {
  color: #284b63;
  font-size: 3vw;
  text-decoration: underline;
}

p {
  font-size: 25px;
}

a:hover {
  color: #73b7e5;
}

/* --- Header --- */
header {
  padding: 20px 35px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

/* Navigation */

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* button styling */

header nav ul li a {
  padding: 10px;
  font-weight: bold;
  font-size: 1.6vw;
  border-radius: 10px;
}

header nav ul li a:hover {
  background: #284b63;
  border-radius: 15px;
  text-shadow: none;
}

/* -- about --  */
.about,
.summary,
.portfolio,
.contact {
  margin: 10px 20px;
  padding: 50px;
}

.about h1 {
  justify-content: center;
}

.profile {
  padding-bottom: 20px;
}

.profile img {
  display: block;
  margin: auto;
  width: 250px;
  height: 330px;
}

.name {
  color: #353535;
  font-size: 2.5vw;
}

/* ---Contact Form --- */
form {
  width: 40%;
  padding: 5px 40px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  border: 3px solid #cccccc;
  width: 30vw;
}

input:focus {
  border: 1px solid #028f9f;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 50vw;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.label {
  color: white;
  padding-right: 30px;
}

.field {
  padding: 5px;
}

/* Portfolio */

.card-title {
  color: white;
  padding-bottom: 10px;
}

.card-title.h5 {
  font-size: 2vw;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.card-link {
  padding: 0 20px;
  font-size: 1.5vw;
  color: white;
}

.card-body {
  padding: 10px 50px 10px;
  text-align: center;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  border: grey;
  border-style: solid;
  border-width: thin;
}

/* Resume  */
.skills {
  color: white;
  padding-left: 30px;
  text-decoration: none;
  padding-left: 50px;
}

.resume,
.pdf {
  padding-left: 50px;
  color: white;
}

/* --- Footer --- */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer img {
  max-width: 60px;
  padding: 10px;
}

/* --- Media Screens --- */

/* Mobile 575px */
@media screen and (max-width: 575px) {
  h1 {
    font-size: 2vw;
  }

  h2 {
    font-size: 1.5vw;
  }

  h3 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1.5vw;
  }
}

/* Tablet 768px */
@media screen and (max-width: 768px) {
}

/* Desktop 980px */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }
}
